.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

.container span {
  text-align: left;
  font-size: 2em;
  margin: 10px 0;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.container-header {
  display: flex;
  flex-direction: column; /* Empilha os itens verticalmente */
}

.container-imgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-header--img {
  width: 100%; /* A imagem preenche toda a largura disponível */
  max-height: 30%; /* Altura máxima de 30% do tamanho do container */
  object-fit: cover; /* Para garantir que a imagem cubra todo o espaço do elemento */
}

.gallery-image {
  width: 15%; /* Ajuste conforme necessário */
  height: 15%; /* Ajuste conforme necessário */
  max-width: 15%; /* Para garantir responsividade */
  object-fit: cover;
}

.social-icons {
  display: flex;
  justify-content: right;
  gap: 15px;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) { 
  .gallery-image {
    width: 20%; /* Ajuste conforme necessário */
    height: 20%; /* Ajuste conforme necessário */
    max-width: 20%; /* Para garantir responsividade */
    margin-bottom: 10px; /* Espaçamento entre as imagens */
  }
}

.social-icons a {
  color: #838282;
}

.content {
  padding: 20px;
  background-color: #d9d4cb;
  border-radius: 5px;
  text-align: justify;
}

.content p {
  margin: 0;
  line-height: 1.6;
}